<ul>
  {{- range $item := .collection -}}
  <li>
    {{- with $item.url -}}
    <a href="{{ $item.url | relURL }}">{{ safeHTML $item.title }}</a>
    {{- else -}} {{ safeHTML $item.title }} {{- end -}}
  </li>

  {{- if $item.entries }} {{ partial "menu_item.html" (dict "context" .
  "collection" $item.entries) }} {{- end -}} {{- if $item.notes_list -}} {{
  partial "notes_list.html" (dict "context" . "section" $item.notes_list.section
  "limit" $item.notes_list.limit "show_more" $item.notes_list.show_more
  "show_more_text" $item.notes_list.show_more_text "show_more_url"
  $item.notes_list.show_more_url) -}} {{- end -}} {{- end -}}
</ul>
